$p-font: "Plus Jakarta Sans", sans-serif
$s-font: 'Manrope', sans-serif

$body-color: #4E4E4E

body
    font-family: $s-font
    overflow-x: hidden
    position: relative

html
    overflow-x: hidden

.btn
    font-weight: 600
    padding: .5em 2em

h1, h2, h3
    font-family: $s-font