.sb-action-form
    background-color: #F8F8F8
    .step
        min-width: 100%
        opacity: 0
        &.active
            opacity: 1
        &.to-left
            margin-left: -100%
        &.inactive
            animation-name: scale
            animation-duration: .2s
            animation-direction: alternate
            animation-iteration-count: 2
    .box-form
        max-width: 1000px
        margin: auto

.sb-form
    display: none
    &.form-active
        display: block
    &-header
        .sb-progressbar
            display: flex
            list-style: none
            margin-bottom: 2em
            counter-reset: step
            margin-bottom: 4em
            flex-flow: row wrap
            &-option
                font-size: 1.2em
                &::before
                    display: flex
                    content: counter(step)
                    counter-increment: step
                    width: 40px
                    height: 40px
                    background-color: #ffffff
                    border: 2px solid #979797
                    border-radius: 50%
                    margin: auto
                    justify-content: center
                    align-items: center
                    position: relative
                    z-index: 2
                    color: #979797
                &:first-child:after
                    content: none
                &.active:after
                    background-color: $success
                &.active:before
                    border-color: $success
                    color: #fff
                    background-color: $success
    &-body
        overflow: hidden
        .step
            min-width: 100%
    .sb-title-header
        color: $secondary
        font-weight: bold
    
    .sb-subtitle-header
        font-size: 1.5em
        color: $body-color
    .sb-opt-files
        font-size: 4em
        .button-file
            color: #979797
            background-color: transparent
            border: none
            position: relative
            min-width: 90px
            outline: 0px
            &:hover, &.active
                color: $secondary
            .sb-button-text
                font-size: .3em
                display: block
                font-weight: bold
            .sb-button-check
                font-size: 10px
                position: absolute
                top: 10px
                right: 10px
                width: 20px
                height: 20px
                background-color: white
                border-radius: 50%
                -webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.49)
                -moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.49)
                box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.49)
                display: none
                flex-direction: column
                justify-content: center
                align-items: center
                color: $success
            &.active
                .sb-button-check
                    display: flex
    .form-group
        .form-control
            height: 50px
            background-color: transparent
            margin-bottom: .5em
            position: relative
            &:focus
                border-color: $secondary
                outline: none !important
                outline-width: 0 !important
                box-shadow: none
                -moz-box-shadow: none
                -webkit-box-shadow: none
        label
            color: $secondary
            font-weight: 600
            font-size: .9em
        svg
            position: absolute
            top: 47px
            right: 45px
            visibility: hidden
            &.fa-exclamation-circle
                color: $danger
            &.fa-check-circle
                color: $success
        small
            visibility: hidden
        &.success
            .form-control
                border: 2px solid $success
            .fa-check-circle
                visibility: visible
        &.error
            .form-control
                border: 2px solid $danger
            .fa-exclamation-circle
                visibility: visible
            small
                visibility: visible
                color: $danger
.sb-step-footer
    .button-disabled
        background-color: #ccc
        border-color: #ccc
        cursor: no-drop !important
        outline: none !important
        &:active
            background: #ccc !important
            outline: none !important

.sb-group-file
    overflow: hidden
    .icon-file
        font-size: 3em
        position: absolute
        top: 0
        left: 0
        margin: auto
        width: 100%
        color: #979797
        border: 1px dashed #979797
        height: 100px
    .sb-input-file
        opacity: 0 !important
        cursor: pointer !important
        position: relative
        width: 100%
        height: 100px
        z-index: 3
    &:hover .icon-file
        color: $secondary
        border-color: $secondary
    &.file-active .icon-file
        background-color: $secondary
        color: rgba(#fff, .5)
        border-color: $secondary

.sb-docs
    .sb-title-head-docs
        color: $secondary
        font-size: 1.5em
        font-weight: bold
        margin: 0
        margin-bottom: 1em
.datos-subasta
    border: 1px solid $secondary
    border-radius: 5px
    h2
        color: #353535
        font-weight: 600
    &.section-hide
        display: none
.form-check
    .form-check-label
        color: #353535 !important

@keyframes scale
  from
    transform: scale(1)
  to
    transform: scale(1.1)