@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;700&family=Plus+Jakarta+Sans:wght@300;500;700&display=swap')
@import "~aos/src/sass/aos.scss"
/*Edit Bootstrap Variables*/
$primary: #FA6400
$secondary: #BE00FF
$success: #BE00FF

@import "~bootstrap/scss/bootstrap"

/*Mixins*/
@import "mixins"

/*Custom sass*/
@import "general-styles"
@import "sb-form"
@import responsive
@import loader

.sb-header
    .nav-link
        color: white
        transition: .3s
        &:hover
            opacity: .7

h1
    @include titleHead($color: #fff, $t-transform: uppercase)
    font-size: 2.5em

.sb-intro
    max-height: 720px
    // background-color: #e6e7e8
    &__box
       background-color: #e6e7e8
       margin-top: 5rem
       border-radius: 20px
    .sb-desc
        color: white
        opacity: .9
        font-size: 1em
    .sb-down
        bottom: -20px
        .button-down
            width: 50px
            height: 50px
            background: $primary
            color: white
            font-size: 1.5em
            line-height: 0
    .sb-title
        font-size: 2em
        color: $secondary

.sb-box-instruct
    background-color: rgba(#000, .2)
    color: white
    h3
        font-weight: bold
    .sb-info
        color: $primary
        font-size: 2em
    .sb-divider
        border: 1px solid rgba(#fff, .2)

.sb-action-buttons
    a
        text-align: center
        border: none
        background-color: transparent
        outline: 0px
        .btn
            opacity: .5
        img
            opacity: .5
            transition: all .3s
        &:hover img, &:hover .btn, &.active img, &.active .btn
            opacity: 1
        

.sb-top-footer
    background: #111111
    .nav-link
        color: white
        transition: .3s
        &:hover
            color: $primary

.sb-bottom-footer
    background-color: black
    color: white
    p
        opacity: .7
        font-size: .8em

.sb-top-footer img
    max-width: 200px

.sb-content
    .icon-check
        font-size: 10em
        color: $secondary
    .icon-error
        font-size: 10em
        color: $danger
    .sb-title
        @include titleHead($color: $secondary, $t-transform: uppercase)

.sb-sub-divider
        border: 3px solid $secondary
        width: 50px
        margin: 1em auto
        border-radius: 50px
.page-privacy-policy
    .sb-main
        h1
            font-size: 1.3em
            margin-bottom: 1em
        p
            color: #353535
            font-size: .9em
        h5
            font-size: 1em
// Header
.sb-nav-brand img
    max-width: 170px
    width: 100%
