<footer class="text-center sb-footer">
    <div class="sb-top-footer py-5 text-light">
        <div class="container">
            <img src="./static/logo_superbid_nova_marca_purple.svg" alt="" class="img-fluid">
            <ul class="nav justify-content-center mt-3">
                <li class="nav-item"><a href="tel:0317438088" class="nav-link"><i class="fas fa-phone-alt"></i> 1-7438088</a></li>
                <li class="nav-item"><a href="https://api.whatsapp.com/send?phone=573107078989&text=Hola,%20necesito%20informaci%C3%B3n%20sobre" class="nav-link" target="_blank"><i class="fab fa-whatsapp"></i> 310 707 8989</a>
                </li>
                <li class="nav-item"><a href="mailto:subastas@superbid.com.co" class="nav-link"><i class="fas fa-envelope"></i>
                        subastas@superbid.com.co</a></li>
            </ul>
        </div>
    </div>
    <div class="sb-bottom-footer py-3">
        <p class="m-0">SUPERBID 2020 | Todos los derechos reservados</p>
    </div>
</footer>