<form action="" class="sb-form" id="form-register">
    <div class="sb-form-header">
        <ul class="sb-progressbar nav justify-content-center">
            <li class="nav-item sb-progressbar-option active active"></li>
            <li class="nav-item sb-progressbar-option"></li>
            <li class="nav-item sb-progressbar-option"></li>
        </ul>
    </div>

    <div class="sb-form-register-body">
        <div class="step active">
            <input type="text" placeholder="Nombre">
        </div>
    </div>
</form>