<form action="" class="sb-form" id="form-register">
    <div class="form-register-header">
        <ul class="progressbar">
            <li class="progressbar-option active active">1</li>
            <li class="progressbar-option">2</li>
            <li class="progressbar-option">3</li>
        </ul>
    </div>
</form>