<form action="controllers/update.php" class="sb-form" id="form-update" method="POST" enctype="multipart/form-data">
    <div class="sb-form-header">
        <ul class="sb-progressbar nav justify-content-center">
            <li class="nav-item sb-progressbar-option active active my-0 mx-5"></li>
            <li class="nav-item sb-progressbar-option my-0 mx-5"></li>
        </ul>
    </div>

    <div class="sb-form-body d-flex">
        {{!-- STEP 1 --}}
        <div class="step active mt-5" id="step-1">
            <div class="step-header text-center">
                <h3 class="sb-title-header">INFORMACIÓN GENERAL</h3>
                <hr class="sb-sub-divider">
                <p class="sb-subtitle-header">Rellene los campos a continuación</p>
            </div>
            <div class="sb-step-body mt-5">
                <div class="row">
                    <div class="col-12 col-md-6">
                        <div class="form-group">
                            <label for="upt-tipo-doc">Tipo de documento</label>
                            <select name="upt-tipo-doc" id="upt-tipo-doc"
                                class="form-control custom-select input-required">
                                <option value="" disabled selected>Selecciona una opción</option>
                                <option value="cedula-ciudadania">Cédula de ciudadanía</option>
                                <option value="nit">NIT</option>
                                <option value="cedula-extranjeria">Cédula de extranjería</option>
                                <option value="pasaporte">Pasaporte</option>
                            </select>
                            <i class="fas fa-check-circle"></i>
                            <i class="fas fa-exclamation-circle"></i>
                            <small class="err-message">Error message</small>
                        </div>
                    </div>

                    <div class="col-12 col-md-6">
                        <div class="form-group">
                            <label for="upt-num-doc">Número de documento</label>
                            <input type="number" name="upt-num-doc" id="upt-num-doc" class="form-control input-required">
                            <i class="fas fa-check-circle"></i>
                            <i class="fas fa-exclamation-circle"></i>
                            <small class="err-message">Error message</small>
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="form-group">
                            <label for="upt-tipo-persona">Tipo de persona</label>
                            <select name="upt-tipo-persona" id="upt-tipo-persona"
                                class="form-control custom-select input-required">
                                <option value="" disabled selected>Selecciona una opción</option>
                                <option value="p-natural" disabled>Natural</option>
                                <option value="p-juridica" disabled>Jurídica</option>
                            </select>
                            <i class="fas fa-check-circle"></i>
                            <i class="fas fa-exclamation-circle"></i>
                            <small class="err-message">Error message</small>
                        </div>
                    </div>
                </div>
            </div>

            <div class="sb-step-footer text-right mt-4">
                <div class="alerts">

                </div>
                <button type="button" class="step-button btn btn-primary rounded-pill button-disabled next-step" data-to_step="2" data-step="1">Siguiente</button>
            </div>
        </div>

        {{!-- STEP 2 --}}
        <div class="step mt-5" id="step-2">
            <div class="step-header text-center">
                <h3 class="sb-title-header">ACTUALIZACIÓN DE DOCUMENTOS</h3>
                <hr class="sb-sub-divider">
                <p class="sb-subtitle-header">A continuación arrastre o seleccione los archivos que desea <b>actualizar</b>
                </p>
            </div>
            <div class="sb-step-body mt-5 sb-ind-files">
                <div class="campos-registro" id="campos-registro">
                    <div class="sb-docs sb-docs-registro">
                        <h3 class="sb-title-head-docs">Documentos de registro - Persona jurídica</h3>
                        <div class="row mt-3">
                            <div class="col-6 col-md-3">
                                <div class="sb-group-file position-relative text-center">
                                    <input type="file" accept="image/jpeg,image/jpg,image/png, .pdf" id="upt-field-documento"
                                        class="sb-input-file" name="upt-field-documento">
                                    <div class="icon-file">
                                        <i class="fas fa-file"></i>
                                        <span class="sb-name-file"></span>
                                    </div>
                                    <label for="upt-field-documento" class="mt-5">Documento de identidad</label>
                                </div>
                            </div>

                            <div class="col-6 col-md-3">
                                <div class="sb-group-file position-relative text-center">
                                    <input type="file" accept="image/jpeg,image/jpg,image/png, .pdf" id="upt-field-rut" class="sb-input-file input-required"
                                        name="upt-field-rut">
                                    <div class="icon-file">
                                        <i class="fas fa-file"></i>
                                        <span class="sb-name-file"></span>
                                    </div>
                                    <label for="upt-field-rut" class="mt-5">RUT Vigente</label>
                                </div>
                            </div>

                            <div class="col-6 col-md-3 wrap-camara-comercio">
                                <div class="sb-group-file position-relative text-center">
                                    <input type="file" accept="image/jpeg,image/jpg,image/png, .pdf" id="upt-field-camara-comercio"
                                        class="sb-input-file input-required" name="upt-field-camara-comercio">
                                    <div class="icon-file">
                                        <i class="fas fa-file"></i>
                                        <span class="sb-name-file"></span>
                                    </div>
                                    <label for="upt-field-camara-comercio" class="mt-5">Cámara de comercio</label>
                                </div>
                            </div>

                            <div class="col-6 col-md-3 wrap-rep-legal">
                                <div class="sb-group-file position-relative text-center">
                                    <input type="file" accept="image/jpeg,image/jpg,image/png, .pdf" id="upt-field-cedula-rep" class="sb-input-file input-required"
                                        name="upt-field-cedula-rep">
                                    <div class="icon-file">
                                        <i class="fas fa-file"></i>
                                        <span class="sb-name-file"></span>
                                    </div>
                                    <label for="upt-field-cedula-rep" class="mt-5">Cédula representante legal</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group form-check mt-4 text-dark">
                    <input type="checkbox" class="form-check-input input-required" id="upt-privacy-policy"
                        value="Acepto las políticas">
                    <label class="form-check-label" for="upt-privacy-policy">He leído y acepto las <a href="/documentos/politicas-de-privacidad.html" target="_blank">políticas de
                            privacidad</a></label>
                </div>
            </div>

            <div class="sb-step-footer d-flex justify-content-between mt-5">
                <button type="button" class="step-button step-button-back btn btn-outline-primary rounded-pill"
                    data-to_step="1" data-step="2">Anterior</button>
                <button type="submit"
                    class="step-button next-step btn btn-primary rounded-pill button-disabled button-submit"
                    data-step="2">Enviar</button>
            </div>
        </div>
    </div>
</form>