<form action="gracias.html" class="sb-form form-active" id="form-register">
    <div class="sb-form-header">
        <ul class="sb-progressbar nav justify-content-center">
            <li class="nav-item sb-progressbar-option active active my-0 mx-5"></li>
            <li class="nav-item sb-progressbar-option my-0 mx-5"></li>
            <li class="nav-item sb-progressbar-option my-0 mx-5"></li>
        </ul>
    </div>

    <div class="sb-form-body d-flex">
        {{!-- STEP 1 --}}
        <div class="step active mt-5" id="step-1">
            <div class="step-header text-center">
                <h3 class="sb-title-header">INFORMACIÓN GENERAL</h3>
                <hr class="sb-sub-divider">
                <p class="sb-subtitle-header">Rellene los campos a continuación</p>
            </div>
            <div class="sb-step-body mt-5">
                <div class="row">
                    <div class="col-12 col-md-6">
                        <div class="form-group">
                            <label for="rg-tipo-doc">Tipo de documento</label>
                            <select name="rg-tipo-doc" id="rg-tipo-doc"
                                class="form-control custom-select input-required">
                                <option value="" disabled selected>Selecciona una opción</option>
                                <option value="cedula-ciudadania">Cédula de ciudadanía</option>
                                <option value="nit">NIT</option>
                                <option value="cedula-extranjeria">Cédula de extranjería</option>
                            </select>
                            <i class="fas fa-check-circle"></i>
                            <i class="fas fa-exclamation-circle"></i>
                            <small>Error message</small>
                        </div>
                    </div>

                    <div class="col-12 col-md-6">
                        <div class="form-group">
                            <label for="rg-num-doc">Número de documento</label>
                            <input type="text" name="rg-num-doc" id="rg-num-doc" class="form-control input-required">
                            <i class="fas fa-check-circle"></i>
                            <i class="fas fa-exclamation-circle"></i>
                            <small class="err-message">Error message</small>
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="form-group">
                            <label for="rg-tipo-persona">Tipo de persona</label>
                            <select name="rg-tipo-persona" id="rg-tipo-persona"
                                class="form-control custom-select input-required">
                                <option value="" disabled selected>Selecciona una opción</option>
                                <option value="p-natural">Natural</option>
                                <option value="p-juridica">Jurídica</option>
                            </select>
                            <i class="fas fa-check-circle"></i>
                            <i class="fas fa-exclamation-circle"></i>
                            <small class="err-message">Error message</small>
                        </div>
                    </div>
                </div>
            </div>

            <div class="sb-step-footer text-right mt-4">
                <div class="alerts">

                </div>
                <button type="button" class="step-button btn btn-primary rounded-pill button-disabled next-step"
                    data-to_step="2" data-step="1">Siguiente</button>
            </div>
        </div>

        {{!-- STEP 2 --}}
        <div class="step mt-5" id="step-2">
            <div class="step-header text-center">
                <h3 class="sb-title-header">TIPO DE DOCUMENTOS</h3>
                <hr class="sb-sub-divider">
                <p class="sb-subtitle-header">Seleccione los tipos de documento(s) que desea <b>cargar</b></p>
            </div>
            <div class="sb-step-body mt-5 sb-opt-files">
                <div class="row text-center">
                    <div class="col-6 col-md-3">
                        <button class="button-file" id="button-files-reg" data-active="campos-registro"
                            data-toggle="tooltip" data-placement="bottom" data-html="true" title="
                        <ul class='nav flex-column'>
                            <li class='nav-item'>- Cédula</li>
                            <li class='nav-item'>- RUT</li>
                            <li class='nav-item'>- Cámara de comercio</li>
                        </ul>">
                            <span class="sb-button-check">
                                <i class="fas fa-check"></i>
                            </span>
                            <i class="far fa-file-alt"></i>
                            <span class="sb-button-text">Registro</span>
                        </button>
                    </div>
                    <div class="col-6 col-md-3">
                        <button class="button-file" id="button-files-pag" data-toggle="tooltip"
                            data-active="campos-pagos" data-placement="bottom" data-html="true" title="
                        <ul class='nav flex-column'>
                            <li class='nav-item'>- Carta de tercero</li>
                            <li class='nav-item'>- Soporte pago lote</li>
                            <li class='nav-item'>- Soporte pago comisión</li>
                            <li class='nav-item'>- Soporte pago traspasos</li>
                            <li class='nav-item'>- Soporte pago fianza</li>
                        </ul>">
                            <span class="sb-button-check">
                                <i class="fas fa-check"></i>
                            </span>
                            <i class="far fa-file-alt"></i>
                            <span class="sb-button-text">Pagos</span>
                        </button>
                    </div>
                    <div class="col-6 col-md-3">
                        <button class="button-file" id="button-files-gar" data-toggle="tooltip"
                            data-active="campos-garantia" data-placement="bottom" data-html="true" title="
                        <ul class='nav flex-column'>
                            <li class='nav-item'>- Soporte garantía</li>
                            <li class='nav-item'>- Certificación bancaria</li>
                            <li class='nav-item'>- Documentos garantías</li>
                        </ul>">
                            <span class="sb-button-check">
                                <i class="fas fa-check"></i>
                            </span>
                            <i class="far fa-file-alt"></i>
                            <span class="sb-button-text">Garantía</span>
                        </button>
                    </div>
                    <div class="col-6 col-md-3">
                        <button class="button-file" id="button-files-ret" data-toggle="tooltip"
                            data-active="campos-retiros" data-placement="bottom" data-html="true" title="
                        <ul class='nav flex-column'>
                            <li class='nav-item'>- Plantilla de aportes</li>
                            <li class='nav-item'>- Poliza</li>
                            <li class='nav-item'>- RTM</li>
                            <li class='nav-item'>- SOAT</li>
                        </ul>">
                            <span class="sb-button-check">
                                <i class="fas fa-check"></i>
                            </span>
                            <i class="far fa-file-alt"></i>
                            <span class="sb-button-text">Retiros</span>
                        </button>
                    </div>
                </div>
            </div>

            <div class="alerts"></div>
            <div class="sb-step-footer d-flex justify-content-between mt-5">
                <button type="button" class="step-button step-button-back btn btn-outline-primary rounded-pill"
                    data-to_step="1" data-step="2">Anterior</button>
                <button type="button" class="step-button next-step btn btn-primary rounded-pill button-disabled"
                    data-to_step="3" data-step="2">Siguiente</button>
            </div>
        </div>

        {{!-- STEP 3 --}}
        <div class="step mt-5" id="step-3">
            <div class="step-header text-center">
                <h3 class="sb-title-header">CARGA DE DOCUMENTOS</h3>
                <hr class="sb-sub-divider">
                <p class="sb-subtitle-header">A continuación arrastre o seleccione los archivos que desea <b>cargar</b>
                </p>
            </div>
            <div class="sb-step-body mt-5 sb-ind-files">
                <div class="campos-registro">
                    {{!-- Campos js --}}
                </div>

                <div class="datos-subasta p-5 mt-5 d-none">
                    <h2>Datos de subasta</h2>
                    <div class="form-group mt-3 position-relative">
                        <label for="rg-nombre-subasta">Nombre de la subasta</label>
                        <input type="text" class="form-control input-required" name="rg-nombre-subasta" id="rg-nombre-subasta">
                        <i class="fas fa-check-circle"></i>
                        <i class="fas fa-exclamation-circle"></i>
                        <small class="err-message">Error message</small>
                    </div>

                    <div class="campos-pagos">
                        {{!-- Campos js --}}
                    </div>
                    <div class="campos-garantia mt-4">
                        {{!-- Campos js --}}
                    </div>
                    <div class="campos-retiros mt-4">
                        {{!-- Campos js --}}
                    </div>
                </div>

                <div class="form-group form-check mt-4 text-dark">
                    <input type="checkbox" class="form-check-input input-required" id="privacy-policy" value="Acepto las políticas">
                    <label class="form-check-label" for="privacy-policy">He leído y acepto las <a href="#">políticas de privacidad</a></label>
                </div>
            </div>

            <div class="sb-step-footer d-flex justify-content-between mt-5">
                <button type="button" class="step-button step-button-back btn btn-outline-primary rounded-pill"
                    data-to_step="2" data-step="3">Anterior</button>
                <button type="submit" class="step-button next-step btn btn-primary rounded-pill button-disabled button-submit"
                    data-step="3">Enviar</button>
            </div>
        </div>
    </div>
</form>