<header class="sb-header py-4 fixed-top bg-secondary">
    <div class="container">
        <div class="d-flex justify-content-between">
            <div class="sb-nav-brand">
                <img src="./static/logo-superbid.svg" alt="" class="img-fluid">
            </div>
            <div class="sb-nav-menu">
                <ul class="nav justify-content-center mt-3">
                    <li class="nav-item"><a href="tel:0317438088" class="nav-link"><i class="fas fa-phone-alt"></i> 1-7438088</a>
                    </li>
                    <li class="nav-item"><a href="https://api.whatsapp.com/send?phone=573107078989&text=Hola,%20necesito%20informaci%C3%B3n%20sobre" class="nav-link" target="_blank"><i class="fas fa-mobile-alt"></i> 310 707 8989</a>
                    </li>
                    <li class="nav-item"><a href="mailto:subastas@superbid.com.co" class="nav-link"><i class="fas fa-envelope"></i>
                            subastas@superbid.com.co</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>