<section class="sb-intro py-5 bg-secondary position-relative">
    <div class="container mt-5">
        <div class="row">
            <div class="col-12 py-5 text-center" data-aos="fade-right" data-aos-duration="1500">
                <h1 class="sb-title">Recepción de documentos:</h1>
                <p class="text-light sb-desc mt-3">Este sitio es el medio exclusivo, donde podrás enviar documentos para el proceso de registro inicial, envió de comprobantes de pago de lotes, comisión, formatos de vinculación de clientes para las empresas vendedoras, etc.. Escoge la opción que se ajuste a tu necesidad: </p>
            </div>
            {{!-- <div class="col-12 col-md-6 py-5 px-3" data-aos="fade-left" data-aos-duration="1500">
                <div class="sb-box-instruct p-5 text-center rounded">
                    <h3>Formatos aceptados</h3>
                    <span class="sb-info font-weight-bold">JPG, PNG, PDF</span>
                    <hr class="sb-divider my-4">
                    <h3>Tamaño máx. de documentos</h3>
                    <div class="sb-info font-weight-bold">1MB</div>
                </div>
            </div> --}}
        </div>
    </div>
    <div class="text-center position-absolute w-100 sb-down">
        <a href="#"
            class="button-down d-flex flex-column justify-content-center align-items-center m-auto rounded-circle"><i
                class="fas fa-sort-down"></i></a>
    </div>
</section>