<section class="sb-intro pt-3 pt-md-5 pb-2 bg-secondary position-relative">
    <div class="container mt-5">
        <div class="row">
            <div class="col-12 pt-3 pt-md-5 pb-md-3 text-center col-intro" data-aos="fade-right" data-aos-duration="1500">
                <h1 class="sb-title">Recepción de documentos:</h1>
                <p class="text-light sb-desc mt-3">Este sitio es el medio exclusivo, donde podrás enviar documentos para el proceso de registro inicial, envió de comprobantes de pago de lotes, comisión, formatos de vinculación de clientes para las empresas vendedoras, etc.. Escoge la opción que se ajuste a tu necesidad: </p>
            </div>
        </div>
    </div>
    <div class="text-center position-absolute w-100 sb-down d-none">
        <a href="#"
            class="button-down d-flex flex-column justify-content-center align-items-center m-auto rounded-circle"><i
                class="fas fa-sort-down"></i></a>
    </div>
</section>