<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <title>Superbid | Gracias</title>
</head>
<body>
    {{>partials/header}}
    <main class="sb-main pt-5">
        <div class="sb-content text-center py-5">
            <div class="icon-error">
                <i class="fas fa-exclamation-circle"></i>
            </div>
            <h2 class="sb-title">ERROR</h2>
            <hr class="sb-sub-divider">
            <p>El <b>tipo</b> o <b>número</b> de documento no se encuentra</p>
            <a href="index.html" class="btn btn-primary rounded-pill mt-3">Regresar</a>

        </div>
    </main>

    {{>partials/footer}}
</body>
</html>