<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <title>Superbid | Gracias</title>
</head>
<body>
    {{>partials/header}}
    <main class="sb-main pt-5">
        <div class="sb-content text-center py-5">
            <div class="container">
                <div class="icon-check">
                    <i class="fas fa-check-circle"></i>
                </div>
                <h2 class="sb-title">GRACIAS</h2>
                <hr class="sb-sub-divider">
                <p>Sus documentos se han cargado exitosamente</p>
                <div class="alert alert-success py-4" role="alert">
                    <h4 class="alert-heading mb-2"><b>Su número de radicado es:</b></h4>
                    <p style="font-size: 20px; font-family: Arial, helvetica, sans-serif" class="m-0">43284632784632784</p>
                </div>
                <p class="mb-5">Por favor guarde este <b>número de radicado</b> para el seguimiento de sus solicitudes</p>

                <div class="alert alert-warning py-4" role="alert">
                    <h4 class="alert-heading mb-2"><b>Detalles de la carga:</b></h4>
                    <div class="text-left px-4">
                        <h6 class="font-weight-bold mb-3">Datos de usuario:</h6>
                        <ul style="font-family: Arial, helvetica, sans-serif">
                            <li><b>Tipo documento:</b></li>
                            <li><b>Número documento:</b></li>
                        </ul>

                        <h6 class="font-weight-bold mb-3 mt-5">Datos de carga:</h6>
                        <ul style="font-family: Arial, helvetica, sans-serif">
                            <li><b>Etapa:</b> Garantia</li>
                            <li><b>Documento cargado:</b> Soporte de garantía</li>
                        </ul>
                    </div>
                </div>
                <a href="index.html" class="btn btn-primary rounded-pill mt-3">Regresar</a>
            </div>
        </div>
    </main>

    {{>partials/footer}}
</body>
</html>