<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Actualización documentos | Superbid</title>
</head>
<body>
    {{>partials/header}}
    <main class="sb-main">
        {{>partials/intro}}

        <section class="sb-action">
            <div class="sb-action-buttons py-5">
                <div class="container">
                    <div class="d-flex justify-content-center">
                        <button class="m-4 button-form" data-form="#form-register" data-aos="fade-right" data-aos-duration="1500">
                            <img src="static/add-doc.svg" alt=""><br><br>
                            <a href="#" class="btn btn-primary rounded-pill">Cargar documentos</a>
                        </button>
                        <button class="m-4 button-form" data-form="#form-update" data-aos="fade-left" data-aos-duration="1500">
                            <img src="static/update-doc.svg" alt=""><br><br>
                            <a href="#" class="btn btn-primary rounded-pill">Actualizar documentos</a>
                        </button>
                    </div>
                </div>
            </div>

            <div class="sb-action-form  py-5">
                <div class="container">
                    <div class="box-form" data-aos="fade-up" data-aos-duration="1500">
                        {{>partials/form-register}}
                        {{>partials/form-update}}
                    </div>
                </div>
            </div>
        </section>
    </main>

    {{>partials/footer}}
</body>
</html>