<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Actualización documentos | Superbid</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    {{!-- <script src="https://www.google.com/recaptcha/api.js" async defer></script> --}}
</head>
<body>
    {{>partials/header}}
    <main class="sb-main">
        {{>partials/intro}}

        <section class="sb-action">
            <div class="sb-action-buttons py-5">
                <div class="container">
                    <h3 class="text-center text-secondary font-weight-bold my-4">¿Qué desea realizar hoy?</h3>
                    <p class="text-center">*Recuerde que todos los datos ingresados deben ser los mismos registrados en la página de SUPERBID para términos de validación.</p>
                    <div class="d-flex justify-content-center wrapper-buttons">
                        <a href="#sb-action-form" class="m-4 button-form" data-form="#form-register" data-aos="fade-right" data-aos-duration="1500">
                            <img src="static/add-doc.svg" alt=""><br><br>
                            <button class="btn btn-primary rounded-pill">Cargar documentos</button>
                        </a>
                        <a href="#sb-action-form" class="m-4 button-form" data-form="#form-update" data-aos="fade-left" data-aos-duration="1500">
                            <img src="static/update-doc.svg" alt=""><br><br>
                            <button class="btn btn-primary rounded-pill">Actualizar documentos</button>
                        </a>
                        {{!-- Botones Garantía --}}
                        <a href="#sb-action-form" class="m-4 button-form btn-wrr" data-form="#form-warranty" data-aos="fade-left" data-aos-duration="1500">
                            <img src="static/garantia.png" alt=""><br><br>
                            <button class="btn btn-primary rounded-pill">Garantía</button>
                        </a>
                        <a href="https://forms.gle/mcTDmejyzPQ5wXoj6" target="_blank" class="m-4 button-form btn-wrr" data-aos="fade-left" data-aos-duration="1500">
                            <img src="static/agenda.png" alt=""><br><br>
                            <button class="btn btn-primary rounded-pill">Agendamiento Visita</button>
                        </a>
                    </div>
                </div>
            </div>

            <div class="sb-action-form  py-5" id="sb-action-form">
                <div class="container">
                    <div class="box-form" data-aos="fade-up" data-aos-duration="1500">
                        {{>partials/form-register}}
                        {{>partials/form-update}}
                        {{>partials/form-warranty}}
                    </div>
                </div>
            </div>
        </section>
    </main>

    {{>partials/footer}}
</body>
</html>